
fastapi == 0.110.0
ariadne == 0.22
sqlalchemy == 2.0.27
PyMySQL == 1.1.0
aio-pika == 9.4.0
uvicorn[standard] == 0.27.1
websocket == 0.2.1
broadcaster[redis] == 0.2.0
httpx == 0.27.0

# formatter
pyflakes == 3.2.0
black == 24.2.0
# 単体テストツール
pytest == 8.0.2
pytest-mock == 3.12.0
pytest-asyncio == 0.23.5
pytest-cov == 4.1.0

cryptography == 42.0.5